* {
  font-family: Arial, sans-serif;
  font-weight: normal;
}
nav a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: lightblue;
  cursor: pointer;
}
header {
  background-color: #888;
  border: 1px solid #333;
}
header ul {
  list-style-type: none;
}
header ul li {
  display: inline;
  margin: 0px 20px;
}
.disabled {
  color:grey;
}
.disabled a {
  color: purple;
}
.active {
  color: yellow;
}
.parent div:first-child{
  color: red;
}
